#demo-iframe{
    width: 100%;
    height: calc(90% - 4em);
}

.demo-list {
	color: var(--backround);
    margin: 0;
    padding: 0;
    height: 10%;

	li {
		font-size: 2em;
		font-style: normal;
		list-style-type: none;
		
		a {
			text-decoration: none;
			color: var(--text);
			&:hover {
				display: inline-block;
				font-weight: bold;
				animation: jump .4s;
			}
		}
	}
}